/* Taregts questions ,background of questions will be white */
.choice-container {
    display: flex;
    margin-bottom: 0.8rem;
    width: 100%;
    border-radius: 4px;
    background-color: white;
    font-size:2rem;
    min-width: 50rem;
}
/* Hovering over questions will cause the transform and cursor to change */
.choice-container:hover {
    cursor: crosshair;
    transform: scale(1.02);
    transform: trasnform 100ms;
}

.choice-sub {
    color: white;
}

.choice-text {
    width: 100%;
}
/* Size of the timer  */
#count-down {
    font-size: 3rem;
}
/* Media querys for resize of app */
@media screen and (max-device-width: 640px) {
    .gfg-div {
      width: 400px;
      height: 200px;
      color: black;
    }
  }
