:root {
    background-color: teal;
}

* {
    box-sizing: border-box;
    margin: o;
    padding: 0;
}

h1{
    font-size: 5.5rem;
    color: black;
    margin-bottom: 5rem;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.container {
    width: 100vh;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 0 auto;
    padding: 3rem;
}
